.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding: 10px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  .modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;

  @media screen and (max-width: 1199px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 528px;
    height: 611px;
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal__close-btm {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 18px;
  right: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.modal__close-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: block;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: currentColor;
  fill: currentColor;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $title-text-color;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__lable {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: $primary-text-color;
  margin-bottom: 4px;
}

.form__input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }

  &:hover ~ .form__icon,
  &:focus ~ .form__icon {
    fill: $accent-color;
  }
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
  top: 50%;
  display: inline-block;
  transform: translateY(3px);
  fill: $title-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

.form__textarea {
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
  }
}

.form__checkbox {
  font-size: 14px;
  line-height: 1.71;
  color: $primary-text-color;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }

  @media screen and (max-width: 479px) {
    font-size: 10px;
  }
}

.form__checkbox-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  margin-right: 8px;
}

.form__checkbox-input:checked + .form__checkbox-icon {
  border-color: transparent;
  background-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: center;
}

.form__link {
  color: $accent-color;
  margin-left: 5px;
}

.form__btm {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: $accent-color;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}
