.hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.quality {
  @media (min-width: 768px) {
    display: flex;
  }
}

.quality__item:not(:last-child) {
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-right: 30px;
  }
}

.quality__box {
  height: 120px;
  background-color: $secondary-light-bg-color;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 480px) {
    width: 450px;
  }
}

.quality__icon {
  width: 70px;
  height: 70px;
}

.quality__title {
  color: $title-text-color;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-align: center;
}

.quality__description {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
